<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm lớp</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Thêm lớp mới</h1>
    <form th:action="@{/lop/add}" th:object="${lop}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="tenLop">Tên lớp:</label>
            <input class="form-control" type="text" th:field="*{tenLop}" id="tenLop" placeholder="Tên Lớp">
        </div>
        <input type="submit" class="btn btn-primary" value="Thêm mới">
    </form>
    <br>
    <a th:href="@{/lop}">Trở về</a>
</div>
</body>
</html>