<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container mt-4">
    <h2>Danh sách môn học</h2>
    <a class="btn btn-primary" th:href="@{/sinhvien/add}">Thêm mới</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Ngày sinh</th>
            <th>Lớp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sv : ${dsSV}">
            <td th:text="${sv.mssv}"></td>
            <td th:text="${sv.hoTen}"></td>
            <td th:text="${sv.email}"></td>
            <td th:text="${sv.ngaySinh}"></td>
            <td th:text="${sv.lop.tenLop}"></td>
            <td>
                <a th:href="@{/sinhvien/edit/{id}(id=${sv.mssv})}">Sửa</a> |
                <a th:href="@{/sinhvien/delete/{id}(id=${sv.mssv})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>